.btn-nav{
    border-radius: 0px;
    padding: 1rem ;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-decoration: none !important;
    font-weight: bold;
    display: inline-block;

      &:hover{
        opacity: .95;
      }

      &--primary{
        color: var(--primary);
        border-color: var(--primary);
        background: var(--secondary) ;
        &:hover{
          color: var(--primary-light);
        }
      }

      &--secondary{
        color: var(--secondary);
        border-color: var(--secondary);
        background: var(--primary) ;
        &:hover{
          color: var(--secondary-light);
        }
      }

      &--outlined{
        font-size: 1.8rem !important;
        font-weight: bolder !important;
        border-bottom: .5rem solid;
        background: transparent;
      }
}
