.ad {
  padding: 10rem 0;
  .ad-container {
    background-size: cover;
    background-position-y: bottom;
    text-align: center;
    color: var(--white);

    .title {
      font-family: var(--headings-font);
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: bold;
      letter-spacing: 3px;
      margin: 2.8rem 0;
    }
    .main {
      text-transform: uppercase;
      font-size: 4rem;
      font-weight: bold;
      letter-spacing: 3px;
      margin: 2.8rem 0;
      line-height: 4rem;
    }
    .description {
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: bold;
      margin: 2.8rem 0;
    }
  }
}
