.banner{
    background-size: cover;
    padding: 7.5rem 0 2rem;
    text-align: center;
    color: var(--white);

    .banner-title{
        font-size: 4rem;
        text-transform: uppercase;
        font-weight: bolder;
    }
    .banner-subtitle{
        font-size: 2rem;
        font-family: var(--headings-font);
        text-transform: uppercase;
        font-weight: bolder;
    }
}