.subscripe{
    .title{
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: bold;
    }
    .body{
        text-transform: uppercase;
        font-size: 1.7rem;
        font-weight: bold;
    }
    .form{
        .email{
            width: 100%;
            margin-top: 1rem;
            & input{
                padding: 2rem !important;
            }
        }
        .btn-email{
                background: var(--primary) !important;
                border-color:var(--primary) !important;
                width: 80px;
        }
    }
}