.products-form{
    .products-form-group{
        border-top: 1px solid silver;
        padding: 1rem 0;
        .checkbox-group{
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }
    }
}