.menu {
  .dropdown {
    color: var(--primary);
    font-size: 1.5rem;
    margin: 0;
    position: static;

    .navbar-nav {
      margin-left: 11rem;
    }

    .dropdown-menu.show {
      padding: 0.8rem;
    }

    .right.dropdown-menu.show {
      left: auto;
      right: 0;
    }

    .dropdown-item:active {
      background-color: #f8f9fa;
    }

    .dropdown-toggle {
      white-space: nowrap;
      outline: none;
      font-weight: bold;
      background: transparent;
      text-transform: uppercase;
      color: var(--primary);
      border-radius: 0;
      border: none;
      border-bottom: 4px solid transparent;
      transition: all .3s ease;
      font-size: 1.4rem;
      padding: 1.5rem 0.5rem 2rem;
      margin: 0 0.5rem;

      &:hover{
        border-bottom: 4px solid silver;
      }

      // for remove the carret
      &::after {
        color: transparent;
        display: none;
      }
    }

    &.show > button.dropdown-toggle.btn {
      border-bottom: none;
      box-shadow: none;
      border-bottom: 4px solid #c43730;
    }

    .dropdown-toggle {
      color: var(--primary);
      background-color: var(--white) !important;
    }

    .dropdown-menu {
      border: 1px solid silver;
      border-radius: 0;
      padding: 1.5rem;
      margin-top: 0;
    }

    .menu-container {
      display: flex;
      & > a:not(:last-child) {
        border-right: 1px solid silver;
      }
    }
  }
}
