.dropdown{
    color: var(--primary);
}
.navbar-collapse.collapse{
    .navbar-nav{
        margin-left: 11rem;
    }

    .dropdown-toggle {
        white-space: nowrap;
        font-weight: bold;
        background: transparent;
        text-transform: uppercase;
        color: var(--primary-light);
        border-radius: 0;
        border-color: transparent;
        padding-bottom: 2rem;
        &::after{
            color: transparent
        }
    }

    .show > .btn-light.dropdown-toggle {
        color: var(--primary);
        background-color: transparent;
        border: 1px solid black ;
        border-bottom: none;
        border-radius: 0;
    }

    .dropdown-menu{
        border: 1px solid;
        border-radius: 0;
        padding: 1.5rem;
        margin-top: 0;
    }

    .menu-container{
        display: flex;
        & .menu-row:not(:last-child){
            border-right: 1px solid silver;
            margin-right: 2rem;
        }
    }
    
}
    

