.menu-row{
    margin-top: 0;
    margin-bottom: 1rem;
    list-style: none;
    padding: 0;
    padding-right: 2.5rem;
    text-transform: uppercase;

    .menu-title{
        color: var(--primary);
        font-weight: bold;
    }

    & li{
        color:var(--primary-light);
        margin-bottom: 1rem;
        width: 9rem;
        font-size: .9rem;
        & a{
            color: inherit;
        }
    }

}