.menu-row{
    
    margin-top: 0;
    margin-bottom: 1rem;
    list-style: none;
    padding: 0;
    padding-right: .5rem;
    text-transform: uppercase;

    .menu-title{
        color: var(--primary);
        font-weight: bold;
    }

    & li{
        color:var(--primary-light);
        margin-bottom: 1rem;
        width: 9rem;
        font-size: 1.6rem;
        & .navlink{
            color: inherit;
            font-size: 1.6rem;
        }
    }

}