.form-inline {
  width: 100%;
  .input-group {
    min-width: 2.5rem;
    width: 100% !important;

    .btn-addon {
      background: transparent;
      border: 1px solid silver;
      border-left: none;
      border-radius: 0 ;
      outline: none;
    }

    input.form-control {
      border: 1px solid;
      border-radius: 0 ; 
      border-right: none;
      padding: 1.5rem;
      border-color: silver;
      font-size: 1.8rem;
      box-shadow: none;
    }
  }
}
