.checkbox-group {
  margin: 0.7rem;
  .checkbox {
    width: 0px;
    & + label::before {
      content: "\2713\0020";
      width: 2rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid #949494;
      border-radius: 0.2rem;
      margin-right: 1rem;
      color: transparent;
      font-size: 2.28rem;
      font-weight: bolder;
    }
    &:checked + label::before {
      content: "\2713\0020";
      color: green;
    }
  }
  .label {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;
  }
}
