.input-with-icon {
  .input-container {
    position: absolute;
    margin-top: .6rem;
    left: 0;
    width: 100%;
    z-index: 5;
  }
  .btn-white{
      background: var(--white) !important;
      border-radius: 0;
  }
  .input-search{
    border-radius: 0;
    input{
      padding: 2rem !important
    }
  }
}
