.input-with-icon {
  .input-container {
    position: absolute;
    margin-top: 0.6rem;
    left: 0;
    width: 100%;
    z-index: 5;
  }
  .btn-white {
    background: var(--white) !important;
    border-radius: 0;
  }
  .input-search {
    border-radius: 0;
    min-width: 2.5rem;
    width: 100% !important;
    padding: 1rem;
    background: #e7e7e7;
    input {
      padding: 2rem !important;
    }
  }
}
