.gallery {
  display: flex;
  width: 100%;
  .imgs {
    margin-right: 0.5rem;
    display: flex;
    flex-direction: column;
    .img-container {
      width: 8rem;
      height: 8rem;
      margin: 0.5rem;
      img {
        display: block;
        width: 100%;
        height: 100%;
        border: 1px solid silver;
      }
      &.active {
        img {
          border-color: var(--secondary);
        }
      }
    }
  }
  .showcase {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(235, 235, 235);
    border: 1px solid silver;
    img {
      display: block;
      max-width: 100%;
    }
  }
}

@media only screen and (max-width: 550px) {
  .gallery {
    .imgs {
      .img-container {
        width: 5rem;
        height: 5rem;
        margin: 0.2rem;
      }
    }
  }
}
