.basic-collapse {
  .basic-collapse-toggle {
    cursor: pointer;

    .basic-collapse-header {
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: bolder;
      margin: 0;
    }
    .basic-collapse-icon {
      padding: 0;
    }
  }
  .basic-collapse-body {
    display: flex;
    max-height: 0;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
    & > div {
      width: 100%;
    }
  }
  &.show > .basic-collapse-body {
    max-height: 500px;
    transition: max-height 0.5s ease-out;
  }
}
