.tending{
    text-align: center;
    color: var(--primary);
    .header{
        font-size: 3.5rem;
        text-align: center;
        text-transform: uppercase;
        font-weight: bolder;
        margin-bottom: 3rem;
    }
}