.product{
    h2{
        text-transform: uppercase;
        text-align: center;
        font-weight: bolder;
        font-size: 3.5rem;
        margin-bottom: 3rem;
    }

    .after-pay-container{
        margin-top: 6rem;
    }
}