.info-section {
  .info-section-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 1rem 0;

    h3{
        text-transform: capitalize;
        font-size: 1.8rem;
    }

    a{
        font-size: 1.9rem;
        border-bottom: 1px solid var(--primary);
        text-transform: capitalize;
        cursor: pointer;
    }

  }
}
