.button{
    border-radius: 0px;
    padding: 1rem ;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-decoration: none !important;
    font-weight: bold;
    display: inline-block;
    transition: all .3s ease;

      &--primary{
        color: var(--primary);
        border-color: var(--primary);
        background: var(--white) ;
        &:hover{
          color: var(--white);
          background: var(--secondary);
        }
      }

      &--white{
        color: var(--white);
        border-color: var(--white);
        background: var(--primary) ;
        &:hover{
          color: var(--secondary);
          background: var(--white);
        }
      }

      &--secondary{
        color: var(--white);
        border-color: var(--white);
        background: var(--secondary) ;
        &:hover{
          color: var(--secondary);
          background: var(--white);
        }
      }

      &--outlined{
        font-size: 1.8rem !important;
        font-weight: bolder !important;
        border-bottom: .5rem solid;
        background: transparent !important;
         &:hover{
             color: var(--secondary)
         }
      }
}
