// default color-pallette
// primary:#333333
// white:#ffffff
// secondary:#c43730

:root {
  --primary: #333333;
  --secondary: #c43730;
  --white:#ffffff;
  --primary-font: 'Cairo', sans-serif;
  --headings-font: 'Gloria Hallelujah', cursive;
}

html {
  font-size: 62.5%;
}

.btn {
  font-size: 1.85rem;
}

.container-fluid {
  max-width: 1800px;
}

.row {
  div[class^="col"]:not(:last-child) {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 55%;
  }
}
