// default color-pallette
// black:#000000
// white:#ffffff

:root {
    --primary:#000000;
    --secondary:#ffffff;
    --primary-light:#333333;
    --primary-font:'Cairo, sans-serif';
    --secondary-font:'Gloria Hallelujah', cursive;
  }

  html{
    font-size: 62.5%;
  }