// default color-pallette
// black:#000000
// light:#333333
// white:#ffffff

:root {
    --primary:#000000;
    --primary-light:#333333;
    --secondary:#ffffff;
    --secondary-light:#bebebe;
    --primary-font:'Cairo, sans-serif';
    --secondary-font:'Gloria Hallelujah', cursive;
  }

  html{
    font-size: 62.5%;
  }

  .btn{
    font-size: 1.85rem;
  }

  .container-fluid{
    max-width:1800px
  }