.products-search {
  .results-number {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .clear-all {
    button {
      padding: 0.5rem;
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      color: #288ffe;
      background: transparent;
      border: none;
      margin: 1rem 0 2rem;
    }
  }
  .results {
    .results-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 0px 0 2rem;
      .sort-dropdown {
        display: inline-block;
      }
    }

    .filters-section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-grow: 1;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .products-search {
    .results {
      .results-header {
        flex-direction: column-reverse;
        align-items: normal;
        .filters-section {
          margin-bottom: .5rem;
          .filter-modal {
            width: 100%;
            margin: 2rem 0;
          }
        }
      }
      .results-number {
        padding: 0 2rem;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .products-search {
    .results {
      .results-number {
        margin-bottom: 0.5rem;
      }
      .filters-section {
        flex-direction: column-reverse;
        align-items: flex-start;
        .sort-dropdown {
          margin: 1rem 1.5rem .5rem;
        }
      }
    }
  }
}

